/*color variables*/
:root {
    --main-color: #445876;
    --secondary-color: #92cccd;
    --accent-color: #31343d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}
/*Start header styling*/
header {
    padding: 10px 35px 10px 0;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
header a {
    text-decoration: none;
    color: var(--secondary-color);

}


header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--accent-color);
    background-color: var(--secondary-color);    
    margin: 0;
    padding:4px 3px 4px 40px;    
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0, 0,.5);
    font-size: 20px;
    text-decoration: solid underline var(--secondary-color) 5px;
}
/*end header styling

/*begin hero styling*/

.hero {
    background-image: url(../images/bluewall.jpg);
    background-size: cover;
    background-position: fixed;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height:200px ;
}

.hero h2 {
    display: flex;
    align-self: flex-end;
    margin: 5px 50px 20px 0;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 5px;   
}
/*end hero styling*/

/*begin about me section styling*/

.aboutme {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.aboutme h3 {
    box-sizing: border-box;
    font-size: 36px;
    color: var(--main-color);
    border-right: 3px solid var(--main-color);
    margin: 15px 10px 15px 40px;
    padding: 10px;
    flex: 1;
    height:200px;
    
}

.aboutme p {
    flex: 5;
    margin: 15px 35px 10px 10px;
    line-height: 1.5;
}
/*end about me styling*/

/*Start Work section styling*/

.Work {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;

}
.Work h3 {
    /*box-sizing: border-box;*/
    font-size: 36px;
    color: var(--main-color);
    border-right: 4px solid var(--main-color);
    margin: 15px 40px 15px 40px;
    padding: 10px;
    height:200px;
    flex: 1;
    
}
.workcardcontainer {
    display: flex;
    flex: 5;
}

.surf {
    display: flex;
    background-image: url(../images/waves.svg);
    width: 80%;
    height: 70%;
       
}

.surf h4 {
    
    
    font-size: 30px;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    
}

.surf p {
    
    
    
    color: var(--accent-color);
    background-color: var(--secondary-color);
    
    
}