/*color variables*/
:root {
    --main-color: #445876;
    --secondary-color: #92cccd;
    --accent-color: #31343d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}
/*Start header styling*/
header {
    padding: 10px 35px 10px 0;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
header a {
    text-decoration: none;
    color: var(--secondary-color);

}
header h1 {
    display: flex;
}


header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--accent-color);
    background-color: var(--secondary-color);    
    margin: 0;
    padding:4px 3px 4px 40px;    
}
header nav {
    margin: 7px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0, 0,.5);
    font-size: 20px;
    text-decoration: solid underline var(--secondary-color) 5px;
}
/*end header styling

/*begin hero styling*/

.hero {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-position: fixed;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height:200px ;
    box-shadow: inset 0 0 0 1000px rgba(68, 88, 118,.4); 
}

.hero h2 {
    display: flex;
    align-self: flex-end;
    margin: 5px 50px 20px 0;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 5px;   
}
/*end hero styling*/

/*begin about me section styling*/

.aboutme {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.aboutme h3 {
    font-size: 36px;
    color: var(--main-color);    
    margin: 15px 0 15px 40px;
    padding: 10px;
    flex: 0 0 1;
    text-align: right;
    
}

.aboutme p {
    flex: 8;
    margin: 15px 35px 10px 0;
    line-height: 1.5;
    border-left: 3px solid var(--main-color);
    padding: 10px;
}
/*end about me styling*/

/*Start Work section styling*/

.Work {    
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;

}
.Work h3 {
    
    font-size: 36px;
    color: var(--main-color);    
    margin: 15px 0 15px 115px;
    padding: 10px;
    text-align: right;
    flex: 0 0 1;
        
}
.workcardcontainer {
    border-left: 3px solid var(--main-color);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 8;
}

.surf {
    background-image: url(../images/surf.jpg);
    background-position: left;
    display: flex;
    flex: 0 0 100%;
    height: 350px;
    max-width: 782px;
    margin-right: 30px; 
    justify-content: flex-end; 
    flex-direction: column;
    border: 4px solid var(--secondary-color);
    box-shadow: inset 0 0 0 1000px rgba(68, 88, 118,.4);     
}

.surf a, .led a, .pastel a, .calc a, .runbuddy a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}






.container{
    background-color: var(--secondary-color);
    height: fit-content;
    width: fit-content;
    margin-bottom: 20px;
    
       
}


.surf h4 {     
    font-size: 30px;
    color: var(--accent-color);
    padding-right: 3px;
       
}



.surf p {    
    color: var(--accent-color);  
    padding-bottom: 10px;  
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 20px 0 20px 0;
}


.led {
    background-image: url(../images/led.jpg);
    display: flex;
    flex: 0 0 50%;
    height: 150px;
    max-width: 350px;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(68, 88, 118,.4);
    border: 4px solid var(--secondary-color);
    margin-right: 20px;
}

.hover:hover{
    box-shadow: none;
}

.led h4, .led p, .calc h4, .calc p, .runbuddy h4, .runbuddy p, .pastel h4, .pastel p {
    color: var(--accent-color);
}

.calc{
    background-image: url(../images/calc.jpg);
    background-position: 70% 50%;
    display: flex;
    flex: 0 0 50%;
    height: 150px;
    max-width: 350px;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(68, 88, 118,.4);
    border: 4px solid var(--secondary-color);
    margin-left: 20px;
}

.pastel{
    background-image: url(../images/pastel.jpg);
    background-position: 40% 50%;
    display: flex;
    flex: 0 0 50%;
    height: 150px;
    max-width: 350px;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(68, 88, 118,.4);
    border: 4px solid var(--secondary-color);
    margin-right: 20px;

}

.runbuddy{
    background-image: url(../images/runbuddy.jpg);
    background-position: 70% 50%;
    display: flex;
    flex: 0 0 50%;
    height: 150px;
    max-width: 350px;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(68, 88, 118,.4);
    border: 4px solid var(--secondary-color);
    margin-left: 20px;
}


/* end of work section styling */

/* start of footer styling */

.Contact-Me {    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    

}

.Contact-Me h3 {
    font-size: 36px;
    color: var(--main-color);    
    margin: 15px 0 40px 10px;
    padding: 10px;
    flex: 0 0 1;
    text-align: right;
    border-right: 3px solid var(--main-color);
    
}

.list-section {
    
    list-style-type: none;
}
.list-container{
    flex: 0 0 70%;
    justify-content: center;
    align-items: center;
    
}



 footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 50px;
} 

footer a {
    text-decoration: none;
    color: var(--accent-color);
    border-bottom: 4px solid var(--main-color);
}

footer ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 23px;
    text-shadow: 0 0 10px rgba(0,0, 0,.5);
    font-size: 20px;
    
    
}

.list-section-phone {
    font-weight: bold;
    color: var(--accent-color);
    border-bottom: 4px solid var(--main-color);
    padding: 10px 15px;
    font-size: 23px;
}

/* end footer styling */




/* begin media queries */

@media screen and (max-width: 1025px) {
    header {
        padding: 0;
        
    }

    header h1{
        flex: 100%;
        justify-content: center;
        width: 100%;
        
        
    }

    header h1 a {
        padding: 0;
        flex: 0 0 100%;
        text-align: center;
        font-size: 75px;
    }

    header nav {
        flex: 100%;
        justify-content: center;

    }
    .aboutme h3 {
        font-size: 50px;
        color: var(--main-color);    
        margin: 15px 0 0 50px;
        /* padding: 10px; */
        flex: 0 0 100%;
        text-align: left;
        
    }
    .aboutme p {
        border-left: none;
        border-top: 3px solid var(--main-color);
        margin: 0 0 10px 35px;
    }

    .Work {
    justify-content: flex-start;
    padding-right: 10px;
}

    .Work h3 {
        font-size: 50px;
        color: var(--main-color);    
        margin: 15px 0 0 0;
        padding: 10px;
        text-align: left;
        flex: 0 0 100%;
        justify-content: flex-start;

    }
    .workcardcontainer {
        flex: 0 0 100%;
        justify-content: flex-start;
        border-left: none;
        border-top: 3px solid var(--main-color);
        margin: 0 100px 10px 35px;
        width: 800px;
    }
    .Contact-Me h3 {
        font-size: 50px;
        color: var(--main-color);    
        margin: 15px 0 0 10px;
        padding: 10px;
        flex: 0 0 100%;
        text-align: left;
        border-right: 3px solid var(--main-color);
        
    }
    .list-container{
        flex: 0 0 100%;
        border-top: 3px solid var(--main-color);
        margin-left:35px;
    }
}

@media screen and (max-width: 770px) {

    .surf {
        flex: 0 0 90%;
        height: 100px;
    }
    
    .led, .calc, .pastel, .runbuddy {
        flex: 0 0 90%;
        height: 100px;
        max-width: none;
    }

    .calc, .runbuddy {
        margin: 40px 0 0 0;
    }

    footer ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-section li {
        padding: 10px 10px;
    }

}    